@*@using DutyFree.WebCore.Extension;
@using DutyFree.Service.Product
@using DutyFree.Service.Standard

@{
    var brandIds = this.GetService<ProductService>().Get(o => o.CategoryId == "Cloth").Select(o => o.BrandId).Distinct().ToList();
    var brands = this.GetService<BrandService>().GetByIds(brandIds);
}

<h3>品牌</h3>
<div class="row">
    @foreach (var item in brands)
    {
        <div class="col-xs-4 img-block">
            <div class="text-center">
                <a href="~/Brand?brandId=@Html.UrlEncoder.UrlEncode(item.Id)&categoryId=Bag">
                    <img src="~/images/brand/@Html.Raw(item.Id+ ".jpg")" class="img-thumbnail" />
                    <div class="pic-text">@Html.Raw(item.Name.Get("zh-CN"))</div>
                </a>
            </div>
        </div>
    }
</div>

<div class="margin-top"></div>*@

<h3>品牌</h3>
<div class="row">
    <div class="col-xs-4 img-block">
        <div class="text-center">
            <a href="/Brand?brandId=ARMANI%20JEANS&categoryId=Bag">
                <img src="/images/brand/ARMANI JEANS.jpg" class="img-thumbnail" />
                <div class="pic-text">ARMANI JEANS</div>
            </a>
        </div>
    </div>
    <div class="col-xs-4 img-block">
        <div class="text-center">
            <a href="/Brand?brandId=DOLCE%20%26%20GABBANA&categoryId=Bag">
                <img src="/images/brand/DOLCE & GABBANA.jpg" class="img-thumbnail" />
                <div class="pic-text">杜嘉班纳</div>
            </a>
        </div>
    </div>
    <div class="col-xs-4 img-block">
        <div class="text-center">
            <a href="/Brand?brandId=ERMENEGILDO%20ZEGNA&categoryId=Bag">
                <img src="/images/brand/ERMENEGILDO ZEGNA.jpg" class="img-thumbnail" />
                <div class="pic-text">杰尼亚</div>
            </a>
        </div>
    </div>
    <div class="col-xs-4 img-block">
        <div class="text-center">
            <a href="/Brand?brandId=KENZO&categoryId=Bag">
                <img src="/images/brand/KENZO.jpg" class="img-thumbnail" />
                <div class="pic-text">高田贤三</div>
            </a>
        </div>
    </div>
    <div class="col-xs-4 img-block">
        <div class="text-center">
            <a href="/Brand?brandId=MARKUS%20LUPFER&categoryId=Bag">
                <img src="/images/brand/MARKUS LUPFER.jpg" class="img-thumbnail" />
                <div class="pic-text">马库斯·卢普伐</div>
            </a>
        </div>
    </div>
    <div class="col-xs-4 img-block">
        <div class="text-center">
            <a href="/Brand?brandId=PAUL%20SMITH&categoryId=Bag">
                <img src="/images/brand/PAUL SMITH.jpg" class="img-thumbnail" />
                <div class="pic-text">PAUL SMITH</div>
            </a>
        </div>
    </div>
    <div class="col-xs-4 img-block">
        <div class="text-center">
            <a href="/Brand?brandId=VERSACE&categoryId=Bag">
                <img src="/images/brand/VERSACE.jpg" class="img-thumbnail" />
                <div class="pic-text">范思哲</div>
            </a>
        </div>
    </div>
</div>

<div class="margin-top"></div>