<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Order <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a asp-controller="Order" asp-action="Index">Order</a></li>
        <li><a asp-controller="Order" asp-action="ConfirmOrder">Confirm Order</a></li>
        <li><a asp-controller="PartnerOrder" asp-action="Index">Partner Order</a></li>
    </ul>
</li>