<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Setting <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a asp-controller="Setting" asp-action="Airport">Airport</a></li>
        <li><a asp-controller="Setting" asp-action="Region">Region</a></li>
        <li><a asp-controller="Setting" asp-action="Unit">Unit</a></li>
        <li><a asp-controller="Setting" asp-action="Property">Property</a></li>
        <li><a asp-controller="Setting" asp-action="Category">Category</a></li>
        <li><a asp-controller="Setting" asp-action="Brand">Brand</a></li>
    </ul>
</li>