<div class="navbar navbar-default navbar-fixed-top" ng-controller="headerCtrl">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-xs-12 header">
                <div class="input-group">
                    <input class="form-control" aria-label="Text input with multiple buttons" ng-model="text">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" aria-label="Help" ng-click="search()">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>