@using DutyFree.Entity.Product

@{
    ViewData["Title"] = "搜索结果";
    ViewData["ng-app"] = "search";
    var products = ViewData["Products"] as List<Product>;
}

@section css {
    <link rel="stylesheet" href="~/css/search/index.css" asp-append-version="true" />
}

@section scripts {
    <script type="text/javascript" src="~/js/search/index.js" asp-append-version="true"></script>
}

@ViewData["BrandId"] as string

<div class="row margin-top" ng-controller="searchCtrl">
    @foreach(var product in products)
    {
        @Html.Partial("Product/Item", product)
    }
</div>

<!-- Modal -->
<div class="modal fade" id="cartMessage" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-center">
            <div class="ok-circle"><span class="glyphicon glyphicon-ok-circle"></span></div>
            <div class="add-cart-text">加入购物车成功</div>
        </div>
    </div>
</div>