<ion-header>
	<ion-navbar>
		<ion-title text-center class="title">{{brand.name}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-grid class="items">
		<ion-row *ngFor="let number of numbers">
			<ion-col width-50 *ngFor="let item of getGroup(number)">
				<ion-card>
					<!--<img [src]="getDefaultImgUrl()" [lazyLoad]="getImgUrl(item.logo)" [offset]="offset" [alt]="item.name" (click)="goDetailPage(item.id)">-->
					<ion-img [src]="getImgUrl(item.logo)" [alt]="item.name" (click)="goDetailPage(item.id)"></ion-img>
					<div text-center>
						<ion-spinner></ion-spinner>
					</div>
					<ion-card-content>
						<ion-card-title>
							<ion-item>{{item.name}}</ion-item>
						</ion-card-title>
						<ion-item>
							<span class="price">{{item.price}}</span>
							<del>{{item.marketPrice}}</del>
							<ion-icon name="cart" (click)="addCart(item.id)" item-right></ion-icon>
						</ion-item>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-card *ngIf="errorMsg">
		<ion-card-header class="error">
			{{errorMsg}}
		</ion-card-header>
	</ion-card>

	<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多...">></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>