<!--
  Generated template for the ConfirmOrderPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<ion-title text-center class="title">确认订单</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<div *ngIf="!isReady" text-center>
		<ion-spinner name="bubbles"></ion-spinner>
		<div>
			正在加载...
		</div>
	</div>
	<div *ngIf="isReady">
		<ion-item *ngIf="address && !address.isEmpty()">
			<ion-grid>
				<ion-row>
					<ion-col width-90>
						<div text-center><b>{{address.name + " " + address.phone}}</b></div>
						<div margin-top>{{address.getRegionText() + " " + address.text}}</div>
					</ion-col>
					<ion-col text-right center class="text">
						<ion-icon name="arrow-forward" (click)="goAddressListPage()"></ion-icon>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>
		<ion-item *ngIf="!address || address.isEmpty()">
			<div text-center>
				还没有地址？ <a (click)="addAddress()">新建</a>
			</div>
		</ion-item>
		<ion-item>
			<ion-grid>
				<ion-row>
					<ion-col width-25 *ngFor="let item of takeSelected(items, 3)">
						<img [src]="getImgUrl(item.logo)" [alt]="item.name" class="img-thumbnail" (click)="goDetailPage(item.productId)">
						<div text-center class="quantity">×{{item.quantity}}</div>
					</ion-col>
					<ion-col text-right center class="text" (click)="goProductListPage()">
						共{{cartService.getNumberSelected()}}件
						<ion-icon name="arrow-forward"></ion-icon>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>
	</div>
</ion-content>

<ion-grid class="placeOrder">
	<ion-row>
		<ion-col width-50 center text-center>
			合计:
			<ion-icon name="logo-yen"></ion-icon>{{cartService.getTotalPriceSelected()}}
		</ion-col>
		<ion-col width-50>
			<button ion-button color="danger" block [disabled]="!address" (click)="placeOrder()">立即下单</button>
		</ion-col>
	</ion-row>
</ion-grid>