page-cart {  
    .confirm {
        position: fixed;
        margin-bottom: 0;
        right: 0;
        left: 0;
        z-index: 999;
        background-color: #f8f8f8;
        border-width: 1px 0 0;
        border-style: solid;
        border-color: #e7e7e7;
    }

    ion-grid.confirm {
        padding: 0 0;
    }

    .confirm ion-col {
        padding: 0 0;
    }

    ion-col.selectAll {
        padding-left: 10px;
    }

    .confirm .button {
        margin: 0 0;
        min-height: 50px;
    }

    .button-op {
        max-width: 40px;
        padding: 0 8px;
    }

    .op {
        padding: 5px 0;
    }

    .quantity {
        position: relative;
        display: inline-block;
        top: 0.4rem;
        max-width: 60px;
        text-align: center;
        padding: 0 5px;
        height: 2.1em;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .remove {
        color: color($colors, danger);
    }
}