@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-default" href="~/Home/RefreshPrice" role="button">Refresh Price</a>
    </div>
</div>