@using DutyFree.WebCore.Extension
@using DutyFree.Service.User
@using DutyFree.Service.Order
@using DutyFree.Platform.Enum
@using DutyFree.Platform.Extension
@using System.Linq

@{
    var order = this.GetService<OrderService>().Get(this.GetUserId());

    var pending = 0;
    var done = 0;

    if (order !=null && !order.OrderInfos.IsEmpty())
    {
        pending = order.OrderInfos.Sum(o => o.GetPendingReviewCount());
        done = order.OrderInfos.Sum(o => o.GetDoneReviewCount());
    }
}

<div class="row text-center">
    <div class="col-xs-4">
        <a href="~/Personal/Review?type=0">
            <span class="glyphicon glyphicon-credit-card symbol"></span>
            <div>待评价(@pending)</div>
        </a>
    </div>
    <div class="col-xs-4 col-xs-offset-4">
        <a href="~/Personal/Review?type=1">
            <span class="glyphicon glyphicon-list-alt symbol"></span>
            <div>已评价(@done)</div>
        </a>
    </div>
</div>
